/* medium device*/
@media screen and (min-width: 577px) and (max-width: 986px){
    .hero_area {
        grid-template-columns: repeat(1, 1fr);
    }
    .services {
        grid-template-columns: repeat(2, 1fr);
    }
    .solutions_body {
        grid-template-columns: repeat(1, 1fr);
    }
    .about_us_body {
        grid-template-columns: repeat(1, 1fr);
    }
    .footer_links_area{
        grid-template-columns: repeat(2, 1fr);
    }
}
/* smaller device */
@media screen and (max-width: 576px){
    /*Only changes CSS Property*/
    .hero_area {
        grid-template-columns: repeat(1, 1fr);
    }
    .services {
        grid-template-columns: repeat(1, 1fr);
    }
    .solutions_body {
        grid-template-columns: repeat(1, 1fr);
    }
    .about_us_body {
        grid-template-columns: repeat(1, 1fr);
    }
    .footer_links_area{
        grid-template-columns: repeat(1, 1fr);
    }
}