body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    color: #2E2E30;
}
.container{
    max-width: 80%;
    margin: 0px auto;
}
.text-center{
    text-align: center;
}
.site_blue_button {
    margin-top: 30px;
    padding: 15px 45px;
    text-decoration: none;
    text-align: center;
    background-color: #5D70D6;
    border: 2px solid #5D70D6;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
}
.site_blue_button:hover{
    background-color: #FFFFFF;
    border: 2px solid #5D70D6;
    color: #5D70D6;
    transition: all 0.5s;
}

/* hero section styles */
.hero_section {
    padding: 100px 0px;
    color: #2E2E30;
}
.hero_area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.hero_text{
    width: 65%;
}
.hero_text h1{
    font-size: 3em;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 1.5em;
}
.hero_about {
    margin-bottom: 50px !important;
}
.hero_text p{
    line-height: 25px;
    font-size: 16px;
    font-weight: 500;
    color: #8b91ad;
}
.scroll_down_button{
    margin-top: 100px;
    color: #2E2E30;
}
.scroll_down_button a{
    color: #2E2E30;
    font-weight: 600;
    font-size: 14px;
}
.hero_image {
    text-align: end;
}
.hero_image img{
    height: 100%;
    width: 100%;
}
/* service section styles */
.service_section {
    padding: 100px 0px;
}
.service_section_header {
    margin: 60px 0px;
}
.service_section_header h2{
    font-size: 28px;
    font-weight: 500;
}
.service_section_content {
    padding: 20px 0px;
}
.services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.services_single_body {
    padding: 50px;
    box-shadow: 0px 10px 15px 10px #e2e7ff;
    border-radius: 5px;
    border-bottom: 5px solid #5D70D6;
}
.services_single_body:hover{
    background-color: #5D70D6;
    transition: all 0.7s;
    .service_texts{
        color: #FFFFFF !important;
    }
}
.service_icon img{
    height: 50px;
}
.service_about {
    line-height: 24px;
    margin-bottom: 40px;
}
.services_single_body .service_texts h3{
    font-size: 18px;
    color: #273576;
    font-weight: 600;
}
.services_single_body .service_texts p{
    color: #9f9f9f;
    font-weight: 500;
}
.services_single_body .service_texts a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #273576;
}
.services_single_body .service_texts a:hover {
    color: #383c4a;
}
/* solutions_section styles */
.solutions_section {
    background-color: #2D3D8A;
}
.solutions_body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.solutions_body .solutions_image img{
    height: 100%;
    width: 100%;
}
.solutions_texts {
    margin: auto 0;
    padding: 80px 0px;
    color: #FFFFFF;
}
.solutions_texts_body {
    width: 80%;
}
.steps_row {
    display: flex;
    gap: 30px;
    height: 80px;
}
.steps_col {
    margin: auto 0px;
}
.number_box {
    margin: auto 0px;
}
.number_box p{
    background-color: #3C4CA0;
    color: #ecebf1;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    text-align: center;
    padding: 15px 15px 15px 15px;
    font-size: 24px;
    font-weight: 500;
}
.solutions_texts_body h3{
    font-size: 30px;
    font-weight: 500;
}
.solutions_pararaph {
    margin: 35x 0px;
}
.solutions_texts_body .solutions_pararaph p{
    line-height: 24px;
    font-size: 15px;
    font-weight: 500;
    color: #99a1cd;
}
.solutions_steps_area {
    padding: 10px 0px;
}
.solutions_steps_area .texts_box {
    padding: 8px 0px;
}
.solutions_steps_area .texts_box h4{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 2px;
}
.solutions_steps_area .texts_box p{
    font-size: 14px;
    font-weight: 500;
    color: #99a1cd;
    margin-top: 1px;
}
.solutions_steps_buttons {
    margin-top: 70px;
}
.solutions_steps_buttons a{
    margin-right: 20px;
}
.solutions_button_1 {
    padding: 12px 50px;
    text-decoration: none;
    text-align: center;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    color: #3C4CA0;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
}
.solutions_button_1:hover{
    border: 2px solid #5D70D6;
    background-color: #2D3D8A;
    color: #FFFFFF;
    transition: all 0.5s;
}
.solutions_steps_buttons .solutions_button_2 {
    padding: 12px 50px;
    text-decoration: none;
    text-align: center;
    border: 2px solid #5D70D6;
    background-color: #2D3D8A;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
}
.solutions_button_2:hover{
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    color: #3C4CA0;
    transition: all 0.5s;
}
/* about_us styles */
.about_us {
    padding: 100px 0px;
}
.about_us_body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.about_us_text {
    width: 65%;
    margin: auto 0px;
}
.about_us_text h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 35px;
}
.about_us_text .about_us_p1 {
    line-height: 24px;
    font-size: 18px;
    font-weight: 500;
    color: #9b9b9e;
    margin-bottom: 30px;
}
.about_us_text .about_us_p2 {
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
    color: #9b9b9e;
    margin-bottom: 50px;
}
.about_us_image img{
    width: 100%;
    height: 100%;
}
/* Call For Action Styles */
.call_for_action_body {
    background-color: #5D70D6;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px 0px;
    margin-bottom: -50px;
    position: relative;
    z-index: 2;
}
.call_for_action_text {
    padding: 5px 20px;
}
.call_for_action_text h3 {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 500;
}
.call_for_action_button {
    padding: 0px 10px;
    text-align: end;
    margin: auto 50px;
}
.cfa_btn a {
    text-align: end;
    background-color: #FFFFFF;
    padding: 12px 50px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #5D70D6;
    border-radius: 5px;
}

/* footer area styles */
footer{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}
.footer_top{
    background-color: #2D3D8A;
    padding: 120px 0px 50px 0px;
}
.footer_top h3{
    color: #FFFFFF;
    margin-bottom: 10px !important;
}
.footer_top ul{
    list-style-type: none;
    margin-left: 0px !important;
    padding-left: 0px !important;
    line-height: 30px !important;
}
.footer_top ul li a{
    color: #c4c4c4;
    text-decoration: none;
}
.footer_top ul li a:hover{
    color: white;
    margin-left: 10px;
    transition: all 0.5s;  
}
.footer_links_area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.footer_links_area  .footer_links_single {
    padding: 0px 20px;
}
.footer_bottom{
    background-color: #273576;
    color: #9f9f9f;
    padding: 1px 0px;
}